body {
  background: #f2f27d;
  font-family: 'Modern Antiqua', cursive;
}

table {
  text-align: center;
}

table,
th,
td {
  border: 2px solid black;
}

#play-again {
  border-color: #555555;
  padding: 15px 32px;
  font-size: 18px;
}


input[type=text],
select {
  width: 15%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#login-text {
  font-size: 16px;
}

